body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: local('JetBrainsMono'), url(./fonts/JetBrainsMono-Medium.woff2) format('woff2');
}
